<h2 class="govuk-heading-m">DPIA</h2>
{% if dpia_hint %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Consider Art 9(2)(g) (substantial public interest) with Schedule 1 paragraph 18 (safeguarding) and an Appropriate Policy Document.
  </strong>
</div>
{% endif %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Screening outcome</th>
      <th scope="col" class="govuk-table__header">Residual risk</th>
      <th scope="col" class="govuk-table__header">Sign off by</th>
      <th scope="col" class="govuk-table__header">Review date</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for row in dpia_rows %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ screening_outcome_labels[row.dpia.screening_outcome] }}</td>
      <td class="govuk-table__cell">
        {{ residual_risk_labels.get(row.dpia.residual_risk, "") }}
        {% if row.dpia.residual_risk and row.dpia.residual_risk.value == "high" %}<strong class="govuk-tag govuk-tag--red">Consult ICO</strong>{% endif %}
      </td>
      <td class="govuk-table__cell">{{ row.sign_off_label }}</td>
      <td class="govuk-table__cell">{{ row.dpia.review_date or "" }}</td>
      <td class="govuk-table__cell">
        {% if can_author_registers %}<a class="govuk-link" href="/activities/{{ activity.id }}/dpias/{{ row.dpia.id }}/edit">Edit</a>{% endif %}
      </td>
    </tr>
    {% else %}
    <tr class="govuk-table__row"><td class="govuk-table__cell" colspan="5">No DPIA records.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% if can_author_registers %}
<p class="govuk-body"><a class="govuk-link" href="/activities/{{ activity.id }}/dpias/new">Add DPIA record</a></p>
{% endif %}
