<h2 class="govuk-heading-m">Transfers</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Recipient</th>
      <th scope="col" class="govuk-table__header">Third country</th>
      <th scope="col" class="govuk-table__header">Mechanism</th>
      <th scope="col" class="govuk-table__header">s85 test</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for row in transfer_rows %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ row.recipient_label }}</td>
      <td class="govuk-table__cell">{{ row.third_country_label }}</td>
      <td class="govuk-table__cell">{{ row.transfer.mechanism.label }}</td>
      <td class="govuk-table__cell">
        {% if row.transfer.mechanism.code in appropriate_safeguards_codes %}
          {{ "Yes" if row.transfer.data_protection_test else "Missing" }}
        {% else %}
          N/A
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        {% if can_author_registers %}<a class="govuk-link" href="/activities/{{ activity.id }}/transfers/{{ row.transfer.id }}/edit">Edit</a>{% endif %}
      </td>
    </tr>
    {% else %}
    <tr class="govuk-table__row"><td class="govuk-table__cell" colspan="5">No transfers.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% if can_author_registers %}
<p class="govuk-body"><a class="govuk-link" href="/activities/{{ activity.id }}/transfers/new">Add transfer</a></p>
{% endif %}
